header{
	margin-bottom: 60px;
}

div.background-img{
	background-image: url(https://i.postimg.cc/Nj0FDwxg/Art-Palace.jpg);
	background-color: #cccccc;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
	position: relative;
    height: 500px;
	width: auto;
}

div.background-img h1{
	font-size: 28px;
	letter-spacing: 0.2rem;
	color: white;
	text-align: center;
	padding-top: 200px;
	font-family: 'Secular One', sans-serif;
}

section div.container{
	background-color: white;
	margin-top: -90px;
	padding-top: 50px;
	position: relative;
	border-radius: 15px;
}

p{
	font-size: 20px;
	letter-spacing: 0.05rem;
	line-height:3rem;
}